
@model List<Author>

@{
    ViewData["Title"] = "ChangeAuthors";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Author item in Model)
        {
            <tr>
                <td>@item.Name</td>
            </tr>
        }
    </tbody>
</table>


<a class="btn btn-danger" asp-action="AddAuthor">Add</a>